@use 'sass:math';

:root {
  --brand-black: #1E1E1F;
  --brand-green: #00854B;
  --brand-yellow: #FFD300;

  //Zern Selector
  --btn-yellow: #FFCF2F;


  --red: #B40707;
}

// Variables
@function rem($value) {
  $res: $value * 1.5 + rem;
  @return $res;
}

$padding_container: rem(20);

@mixin bg-center {
  background-position: center;
  background-repeat: no-repeat;
  @content;
}

@mixin vh {
  height: calc(var(--vh, 1vh) * 100);
}

@mixin scrollbar-styling {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(245, 246, 247, 1);
    border-radius: 100px;
    background-color: #F3F3F3;
  }

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: white;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #00A3E0;
    border: 2px solid #F3F3F3;
  }
}

@mixin section-margin {
  padding: 16px 0;
  @media (min-width: 768px) {
    padding: 24px 0;
  }
}
